<% @meta_title = "#{@project} | Projects"%>

<div class="container-sm">
  <h2><%= link_to 'Projects', projects_path %>: <%= link_to @project.ecosystem, projects_ecosystem_path(@project.ecosystem) %>: <%= @project %></h2>

  <p>
    <%= link_to @project.ecosystems_url, @project.ecosystems_url, target: :_blank %>
  </p>

  <!-- todo display project details once synced -->

  <!-- todo list mentioned projects -->

  <h2>
    Papers Mentioning <%= @project.name %>
    <span class='badge bg-secondary'>
      <%= number_with_delimiter @project.mentions_count %>
    </span>
  </h2>

  <%= render @papers %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>