<div class="container-sm">
  <h2>
    <%= @meta_title = "Scientific Papers with Software Mentions"%>
  </h2>

  <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link" href="<%= projects_path %>">
        Projects
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter Project.count %>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  aria-current="page" >
        Papers
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter Paper.count %>
        </span>
      </a>
    </li>
    <%= render 'sort' %>
  </ul>

  <div class="row">
    <div class="col-lg">
      <%= render @papers %>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
    </div>
  </div>
</div>
