<% @meta_title = "#{@paper} | Papers"%>

<div class="container-sm">
  <h2><%= link_to 'Papers', papers_path %>: <%= @paper %></h2>

  <p>
    <%= link_to @paper.doi_url, @paper.doi_url, target: :_blank %>
  </p>

  <% if @paper.title %>
    <p><%= @paper.title %></p>
  <% end %>

  <% if @paper.openalex_data %>
    <p>
      <% if @paper.openalex_data %>
        Cited by: <%= number_with_delimiter @paper.openalex_data['cited_by_count'] %><br>
        Author(s): <%= @paper.openalex_data['authorships'].map { |a| a['author']['display_name'] }.join(', ').html_safe %><br/>
        <span title="<%= @paper.publication_date %>">Published: <%= time_ago_in_words @paper.publication_date %> ago</span>
      <% end %>
    </p>
  <% end %>

  <% if @paper.urls.any? %>
    <h2>URLs</h2>

    <ul>
      <% @paper.urls.each do |url| %>
        <% next unless url.starts_with?('http') %>
        <li>
          <%= link_to url, url, target: :_blank %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <h2>
    Software Mentions
    <span class='badge bg-secondary'>
      <%= number_with_delimiter(@paper.mentions_count || 0) %>
    </span>
  </h2>

  <%= render @projects %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>